.contact-details {
    text-shadow: 1px 0px 0px #1f1f1f;
    transition: transform 0.3s ease-out;
    padding: 4px;
  }
  .contact-details:hover {
    border: #f2f2f2 solid 1px;
    border-radius: 6px;
  }

  @media only screen and (max-width: 767px) {
    .contacts{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }



  }